# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd

# Logs and environment
*.log
*.env
.env

# Virtual environment
venv/

# Git and editor configs
.git/
.idea/
.vscode/

# OS & editor temp files
.DS_Store
*.swp

# Static uploads (local files, large user data)
app/static/uploads/

# Large files/extensions (models, datasets, videos)
*.zip
*.tar.gz
*.h5
*.pt
*.pkl
*.mp4
*.avi
*.mkv

# Add Python egg info (if exists)
*.egg-info/

# Ignore tests if you don't want to include them
tests/
